<form (ngSubmit)="NewWish()">
    <!-- Email input -->
    <div class="form-outline">
        <input type="text" name="y_name" id="typeText" class="form-control" [(ngModel)]="wishData.yourName" />
        <label class="form-label" for="typeText">Your name</label>
      </div>
  
    <!-- Password input -->
    <div class="form-outline">
        <input type="text" name="f_name" id="typeText" class="form-control" [(ngModel)]="wishData.friendName" />
        <label class="form-label" for="typeText">Friend name</label>
      </div>
  
    <!-- 2 column grid layout for inline styling -->
    <div class="row mb-4">
        <div class="form-outline">
            <input type="email" name="f_email" id="typeEmail" class="form-control" [(ngModel)]="wishData.friendEmail" />
            <label class="form-label" for="typeEmail">Friend's Email</label>
          </div>

    </div>
  
    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block">Create</button>
  </form>